@model test3.Models.DichVu

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Thêm dịch vụ</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dịch vụ</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Thêm dịch vụ</h5>

                    <!-- Multi Columns Form -->
                    <form class="row g-3" asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="col-md-12">
                            <label asp-for="TenDV" class="form-label">Tên dịch vụ</label>
                            <input asp-for="TenDV" class="form-control" />
                            <span asp-validation-for="TenDV" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="MoTa" class="form-label">Mô tả</label>
                            <input asp-for="MoTa" class="form-control" />
                            <span asp-validation-for="MoTa" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="LoaiDV" class="control-label">Loại dịch vụ</label>

                            <select asp-for="LoaiDV" class="form-control">
                                <option value="Thức ăn">Thức ăn</option>
                                <option value="Dịch vụ khác">Dịch vụ khác</option>
                            </select>
                            <span asp-validation-for="LoaiDV" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Gia" class="form-label">Giá</label>
                            <input asp-for="Gia" class="form-control" type="number" min="1000" step="1000"/>
                            <span asp-validation-for="Gia" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="SoLuong" class="form-label">Số lượng</label>
                            <input asp-for="SoLuong" type="number" class="form-control" value="1" min="1"/>
                            <span asp-validation-for="SoLuong" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Ảnh dịch vụ</label>
                            <input type="file" name="photos" class="form-control" accept="image/*" multiple>
                            <span
                                class="text-danger">@(ViewData.ModelState["file"]?.Errors.FirstOrDefault()?.ErrorMessage)</span>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary"  value="Create">Lưu</button>
                            <a asp-action="Index">
                                <button type="reset" class="btn btn-secondary">Thoát</button>
                            </a>

                        </div>
                    </form><!-- End Multi Columns Form -->

                </div>
            </div>
        </div>
    </section>

</main>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
